:root{
    --primary-color: rgb(0, 19, 48);
    --secondary-color: #0d6efd;
}

*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.spinner-border-small{
    width: 1rem !important;
    height: 1rem !important;
}

.rounded-lot{
    border-radius: 0.6rem !important;
}

#loading-scheme{
    position: absolute;
    width: 100%;
    bottom: -7px;
    left: 0;
    right: 0;
    z-index: -1;
}

.btn-danger{
    --bs-btn-border-color: white !important;
    --bs-btn-hover-border-color: white !important;
    --bs-btn-active-border-color: white !important;
    --bs-btn-hover-border-color: white;
}

.btn-dark{
    --bs-btn-border-color: white !important;
    --bs-btn-hover-border-color: white !important;
    --bs-btn-active-border-color: white !important;
    --bs-btn-hover-border-color: white;
}

.btn-primary{
    --bs-btn-bg: rgb(0, 19, 48) !important;
    --bs-btn-hover-bg: rgba(4, 110, 143, 0.7) !important;
    --bs-btn-disabled-bg: rgba(0, 19, 48, 0.7) !important;
    --bs-btn-border-color: white !important;
    --bs-btn-hover-border-color: white !important;
    --bs-btn-active-bg: rgba(4, 110, 143, 0.7) !important;
    --bs-btn-active-border-color: white !important;
}

.bg-primary{
    --bs-primary-rgb: 0, 19, 48 !important;
}

.image-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 50%;
    height: 200px;
    border-radius: 2%;
    overflow: hidden;
    object-position: 50% 50%; 
    object-fit: cover !important;
}

.img-container2 {
    width: 100%;
    height: 80%;
    max-height: 500px;
    border-radius: 2%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.z-1000{
    z-index: 1000 !important;
}

.size-max{
    max-height: 150px;
}

.blur-background {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
}

.contenty {
    position: relative;
    z-index: 2000;
}

.produkt-img{
    height: 100%;
    object-position: 50% 50%; 
    object-fit: cover !important;
}

.fs-big{
    font-size: 7.5rem !important;
}

.container-margin{
    margin-top: 100px;
}

.card{
    z-index: 0 !important;
}

.bg-primary-2{
    background-color: var(--primary-color) !important;
}

.warn{
    z-index: 2000 !important;
}

.image-container img {
    width: auto;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
}

/* .gradient{
    background: linear-gradient(to right, rgb(0, 19, 48) 30%, rgba(31, 82, 159, 0.573) 30%);
} */

/* .gradient{
    background: linear-gradient(to right, rgb(0, 19, 48) 60%, rgba(31, 82, 159, 0.573) 30%);
} */

/* .gradient{
    background: linear-gradient(to right, rgb(0, 19, 48) 90%, rgba(31, 82, 159, 0.573) 10%);
} */

.primary-color{
    color: var(--primary-color) !important;
}

.secondary-color{
    color: var(--secondary-color) !important;
}

.primary-border{
    border: 1px solid var(--primary-color) !important;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}
.vertical-center {
    min-height: 100vh; /* 100% of the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
    width: 100px;
}

#logo-header{
    width: 60%;
}

#bgVideo {
    position: relative;
    height: 100vh;
    z-index: -1;
}

#bgVideo video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
     z-index: -1;
}

#checkInputs{
    z-index: 2;
}